/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --bg: #F6EDDC;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 1px;
	line-height: normal;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
h2{
	font-weight: bold;
	font-size: 36px;
	text-transform: capitalize;
}
p{
	font-weight: 500;
	font-size: 18px;
}
header{
  background: var(--bg);
}
.log-ctn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 250px;
  border-bottom: 1px solid #E7DBCF;
}
.log-ctn li p{
  text-transform: uppercase;
}
.log li{
  display: inline;
}
.log li:last-child{
  margin-left: 20px;
}
header nav{
  padding: 20px 250px;
}
header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo a img{
  width: 200px;
  height: auto;
}
header nav ul li a{
  text-transform: uppercase;
}
.icon::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: black;
}
.dropdown::before{
  content: "\f078";
}
.cart{
  width: 25px;
  margin-left: -25px;
}
.search{
  width: 300px;
  padding: 10px;
  border: 1px solid #E7DBCF;
  border-radius: 50px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search input{
  border: none;
}
.search input::placeholder{
  font-weight: normal;
  font-size: 16px;
}
.search button{
  border: none;
  background: none;
}
.search-button::before{
  font-size: 20px;
  content: "\f002";
}

.noti .wrapper{
  padding: 20px 250px;
  text-align: center;
}
.noti .wrapper p{
  color: #97B6BB;
}
.right::before{
  content: "\f054";
  color: #97B6BB;
}
.banner{
	background: #d3ebf5;
}
.banner .wrapper{
	padding: 30px 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner-content{
	flex: 0.35;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap:50px;
}
.banner-content h2{
	font-family: 'Satisfy', cursive;
	font-size: 94px;
}
.banner .wrapper img{
	flex: 0.65;
	height: 500px;
	object-fit: contain;
}
.banner-content a{
	background-color: #5B47A6;
	padding: 10px 20px;
	color: white;
}
.learn{
	background: #f4f9fc;
}
.learn .wrapper{
	padding: 50px 300px;
	text-align: center;
}
.learn .wrapper h2{
	margin-bottom: 20px;
}
.learn .wrapper p{
	line-height: 25px;
}
.learn-btn{
	margin-top: 50px;
	margin-bottom: 20px;
}
.learn-btn a{
	background: #f8a883;
	padding: 20px 50px;
	text-transform: uppercase;
	color: #f4f9fc;
	border: none;
}
.learn-btn a:first-child{
	margin-right: 40px;
}
.first, .second, .third, .forth, .fifth .wrapper{
	padding: 0 250px;
	padding-top: 90px;
	text-align: center;
}
.first .wrapper h2{
	margin-bottom: 50px;
}
.first .wrapper ul{
	margin: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.first .wrapper ul li img{
	height: 300px;
	width: auto;
	margin-bottom: 20px;
}
.button{
	padding: 20px 100px;
	border: 1px solid gray;
	text-transform: uppercase;
}
.end{
	display: block;
	width: 100%;
	height: 5px;
	background: #ececb0;
	margin-top: 100px;
}
.second .wrapper p{
	margin: 30px 0;
}
.second .wrapper ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.second .wrapper ul li{
	flex: 0.33;
	width: 100%;
}
.second .wrapper ul li img{
	width: 100%;
}
.second .wrapper ul li h3{
	font-weight: bolder;
	font-size: 24px;
	text-transform: capitalize;
}
.third .wrapper h2{
	margin-bottom: 50px;
}
.third .wrapper img{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
.third .wrapper a{
	padding: 20px 70px;
}
.forth .wrapper h2{
	margin-bottom: 50px;
}
.forth .wrapper ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.forth .wrapper li{
	flex: 0.25;
}
.forth .wrapper li img{
	width: 90%;
	height: 50px;
}
.fifth .wrapper{
	padding-bottom: 100px;
}
.fifth .wrapper .feed-ctn{
	margin-top: 80px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.feed-left{
	flex: 0.25;
}
.feed-left h3{
	font-weight: 600;
	font-size: 24px;
}
.star-ctn{
	display: block;
	margin: 20px 0;
}
.star{
	background: green;
	padding: 6px;
}
.star::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 20px;
	content: "\f005";
	color: white;
}
#not{
	background: lightgray;
}
.feed-right{
	flex: 0.75;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.feed-right ul {
	flex: 0.45;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
}
.top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.dark{
	background: darkgreen;
	padding: 4px;
}
.dark::before{
	font-size: 12px;
}
.bold{
	font-weight: 600;
}
.space{
	margin-top: 10px;
	margin-bottom: 40px;
}
.left::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 42px;
	content: "\f053";
	color: lightgray
}
.right::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 42px;
	content: "\f054";
	color: gray;
}
.fifth .wrapper .button{
	background: #f8a883;
	color: white;
	border: none;
}
footer{
	background: var(--bg);
}
footer .wrapper h1{
	padding: 50px 250px;
}
.footer-content{
	padding: 0 250px;
	border-bottom: 1px solid gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-content ul{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer-1{
	flex: 0.3;
	font-weight: 600;
	font-size: 18px;
}
.footer-1 li{
	display: block;
	margin-bottom: 45px;
}
.footer-1 a{
	text-transform: capitalize;
}
.footer-2{
	flex: 0.3;
}
.footer-2 li{
	display: block;
	margin-bottom: 45px;
}
.footer-3{
	flex: 0.4;
	width: 100%;
}

.footer-3 p{
	font-weight: 600;
}
.footer-3 h2{
	font-size: 20px;
	margin-bottom: 20px;
}
.flag{
	width: 30px;
	height: 16px;
	margin-right: 10px;
}
.footer-form{
	width: 450px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.footer-form input{
	flex: 0.7;
	width: 100%;
	padding: 30px 10px;
	border: none;
	text-transform: uppercase;
}
.footer-form button{
	flex: 0.3;
	width: 100%;
	padding: 30px 10px;
	border: none;
	background: black;
	color: white;
	text-transform: uppercase;
}
.yellow{
	background: yellow;
	font-weight: 600;
	font-size: 18px;
	margin: 50px 0;
}
.app-ctn{
	margin-top: 30px;
	display: inline-flex;
	align-items: center;
}
.app-ctn a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
}
.apple::before{
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	font-size: 32px;
	content: "\f179";
	margin-right: 10px;
}
.android{
	height: 32px;
	margin-right: 10px;
}
.footer-end{
	padding: 20px 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social::before{
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	font-size: 28px;
}
.facebook::before{
	content: "\f39e";
}
.twitter::before{
	content: "\f099";
}
.pinterest::before{
	content: "\f0d2";
}
.youtube::before{
	content: "\f167";
}
.instagram::before{
	content: "\f16d";
}
